## Atividades Técnicas e de Código

1 - Puxar o Logo para Esquerda
2 - Mover o Menu para a Direita
3 - Mover os "Objetivos" para a página "Sobre"
4 - Colocar o banner "Como sua Doação..." na página inicial.
5 - Colocar o banner "NOSSOS OBJETIVOS" na página SOBRE, entre "sobre nós" e "nossos Parceiros"
6 - O botão "SAIR" a gente criou para os Administradores poderem deslogar, eu fiz ele básico porque só aparece para a nós, mas pode falar como vocês querem ele que eu ajusto o visual.
7 - Coloquei o botão "Sair" em todas as páginas, mas é só falar onde querem que ele apareça que a gente muda.



## Atividades de Documentação e Design

1 - Escrever mais na parte de Sobre nós
2 - Usar mais cores, definam ai nos passem ondem querem.


## Observações: 

- Eu integrei no site o texto e deixei a imagem independente, tive que fazer isso para poder criar a ferramenta de Acessibilidade. 
Eu preciso ser capaz de controlar o tamanho e cor da fonte e o no texto da imagem não dá para fazer isso,  teriamos que criar um monte de imagens para cada combinação de Contraste x Tamanho.

- Temos sempre que pensar nas cores do site sempre como duas, com fundo branco normal e com fundo escuro de alto contraste, dá para por as cores que você quiser.

- Não sei dizer se é obrigatório, no nosso caso, ter a pagina de "Termos e condições" e de "Politica de Privacidade" mas acho que fica legal ter sim, e acho que a Aline vai querer... a gente pode confirmar com ela na quarta. 

*Politicas de Privacidade* - É uma declaração de que a gente garante que não irá vender, negociar ou passar para outras entidades as informações que os parceiros nos fornecerem

*Termos de uso* - É um documento que estabelece as regras de qaula serviço a gente presta, se cobramos ou não, se as pessoas envolvidas (Usuários, parceiro e nós...)  ou quem mais for usar tem alguma responsabilidade ou obrigação tipo: Os parceiros se comprometem a dar o destino coprreto as doações recebidas. 

Existe uma opção de mudar o status de um ponto de coleta entre ativo e inativo, eu posso fazer uma página na parte de administração que permita ativar, desativar e gerar um relatório com um filtro: "Ativos" , "Inativos" e "Todos".







