<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos de Coleta - Agasalho Aqui</title>
    <link rel="icon" type="image/png" href="/static/images/HeartBoxlogoFAV.png">
    <link rel="shortcut icon" type="image/png" href="/static/images/HeartBoxlogoFAV.png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container header-container">
            <a href="/">
                <img src="/static/images/logotipo.png" alt="Logo Agasalho Aqui" class="logo">
            </a>
            <nav class="nav-menu">
                <a href="/">Home</a>
                <a href="/sobre">Sobre</a>
                <a href="/pontosdecoleta">Pontos de Coleta</a>
                <a href="/cadastro">Cadastro</a>
                <a href="/administracao">Administração</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <h1 class="page-title">PONTOS DE COLETA PRÓXIMOS</h1>
            
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Insira seu CEP" aria-label="Insira sua localização">
                <button class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>

            <!-- Resultados da busca -->
            <div id="collection-points-list">
            <!-- A lista de pontos de coleta será carregada aqui via JavaScript -->
            </div>
            

            <!-- O mapa será carregado aqui via JavaScript -->
            <div id="map" class="map-container">
                
            </div>
            
            
        </div>
    </main>

    <footer>
        <div class="container footer-container">
            <div class="footer-logo-contact">
                <img src="/static/images/HeartBoxlogo.png" alt="Logo Agasalho Aqui" class="footer-logo">
                <div class="contact-info">
                    <h3>Fale conosco</h3>
                    <p><a href="mailto:agasalhoaqui@gmail.com">agasalhoaqui@gmail.com</a></p>
                    <p>(11) 4002-0922</p>
                </div>
            </div>
             <div class="footer-links">
                <a>Termos e Condições</a> | 
                <a>Políticas de Privacidade</a>
            </div>
            <p class="copyright">© Tem Agasalho Aqui LTDA - Todos os direitos reservados</p>
        </div>
    </footer>

    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOgHIVDlragPvZ1m4ZrDofF87WkoVBSQ4&callback=initMap" async defer></script>
</body>
</html>
