<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Agasalho Aqui</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container header-container">
            <a href="/">
                <img src="/static/images/logotipo.png" alt="Logo Agasalho Aqui" class="logo">
            </a>
            <nav class="nav-menu">
                <a href="/">Home</a>
                <a href="/sobre">Sobre</a>
                <a href="/pontosdecoleta">Pontos de Coleta</a>
                <a href="/cadastro">Cadastro</a>
                <a href="/administracao">Administração</a>
            </nav>
        </div>
    </header>
   
    <main>             

        <div class="container">
            <h1 class="page-title">SOBRE NÓS</h1>
            
            <div class="about-content">
                <p>Somos um grupo de estudantes da UNIVESP dos polos Lajeado, Casa Branca e Jardim São Carlos, unidos por um propósito: conectar solidariedade e necessidade.</p>
                <p>Criamos esta plataforma para facilitar o encontro entre aqueles que querem ajudar e aqueles que precisam de apoio, tornando mais acessível à localização de pontos de coleta de doações e de locais que recebem ajuda.</p>
                <p>Nosso objetivo é fortalecer a cultura de doação, promovendo um impacto positivo na sociedade por meio da empatia e do engajamento social.<br>
                 <p>Seja parte dessa corrente do bem.</p>
                 <p>Juntos, podemos fazer a diferença!</p><br>
                 
                 

        <!-- Objetivos -->
         <section class="objectives-section container">
            <h2 class="section-title">NOSSOS OBJETIVOS</h2>
            <div class="objectives-cards">
                <div class="objective-card promote">
                    <h3>Divulgar</h3>
                    <p>Pontos de coleta</p>
                </div>                
                <div class="objective-card connect">
                    <h3>Conectar</h3>
                    <p>Doadores e pontos de coleta</p>
                </div>
                <div class="objective-card impact">
                    <h3>Impactar</h3>
                    <p>Comunidades em necessidade</p>
                </div>
            </div>
        </section>
                
         <!-- Banner Nossos Objetivos -->
         <section class="bannerobjetivos-section container">
            <div class="bannerobjetivos-image">
                <img src="/static/images/nossos objetivos.png" alt="Nossos objetivos: Divulgar, Conectar e Impactar " class="bannerobjetivos-image">
            </div>
        </section>



                <h2 class="section-title">NOSSOS PARCEIROS</h2>
                
                <div class="partners-section">
                    <div class="partner-card">
                        <img src="/static/images/espaco-midh.png" alt="Logo Espaço MIDH" class="partner-logo">
                        <div class="partner-info">
                            <h3>Espaço MIDH</h3>
                            <p>O Espaço MIDH surgiu de um sonho em dar continuidade a atender crianças, jovens e adultos que necessitam de apoio, orientação e recuperação do desenvolvimento no processo de aprendizagem. Um processo que contempla a parceria com outros profissionais e a busca na qualidade e respeito às necessidades individuais de cada paciente/aprendente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container footer-container">
            <div class="footer-logo-contact">
                <img src="/static/images/HeartBoxlogo.png" alt="Logo Agasalho Aqui" class="footer-logo">
                <div class="contact-info">
                    <h3>Fale conosco</h3>
                    <p><a href="mailto:agasalhoaqui@gmail.com">agasalhoaqui@gmail.com</a></p>
                    <p>(11) 4002-0922</p>
                </div>
            </div>
            <div class="footer-links">
                <a href="/termos">Termos e Condições</a> | 
                <a href="/privacidade">Políticas de Privacidade</a>
            </div>
            <p class="copyright">© Tem Agasalho Aqui LTDA - Todos os direitos reservados</p>
        </div>
    </footer>

    <script src="/static/js/scripts.js"></script>
</body>
</html>
