<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos e Condições</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container header-container">
            <a href="/">
                <img src="/static/images/logotipo.png" alt="Logo Agasalho Aqui" class="logo">
            </a>
            <nav class="nav-menu">
                <a href="/">Home</a>
                <a href="/sobre">Sobre</a>
                <a href="/pontosdecoleta">Pontos de Coleta</a>
                <a href="/cadastro">Cadastro</a>
                <a href="/administracao">Administração</a>
            </nav>
        </div>
    </header>
{ 
    <main>
        <div class="container">
            <h1 class="page-title">Termos e Condições</h1>
            
            <div class="about-content">
                <p>Somos estudantes da Universidade Virtual do Estado de São Paulo (UNIVESP) e nosso intuito é divulgar pontos de doação de roupas por meio de nosso website.</p>
                <br>
                <h2 class="section-title">Uso do Site</h2>
                
                <div class="partners-section">
                    <div class="partner-card">
                        <img src="" alt="imagem dos termos" class="partner-logo">
                        <div class="partner-info">
                            <h3>Proposta</h3>
                            <br>
                            <p> Lorem ipsum dolnisi tellus feugiat est, non rutrum mauris justo non augue. Sed tempor pulvinar metus, quis tristique risus suscipit vitae. Integer euismod facilisis mauris vel tempus. Ut sit amet rutrum lorem, vitae vestibulum turpis. Donec convallis dui rutrum vehicula posuere. Sed pretium lorem at nisl elementum, ut faucibus libero facilisis. Aenean finibus congue sem a posuere.</p>
                            <br>
                            <p>Phasellus ullamcorper elit a urna consectetur primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed sed commodo justo, vitae rutrum diam. Praesent eget maximus nibh. Integer imperdiet massa justo, id venenatis ante hendrerit ut. Morbi rutrum quam et dolor iaculis, quis faucibus neque eleifend. Nam consequat efficitur felis, id sagittis velit facilisis quis., viver.</p>
                        </div>
                    </div>
                                  
                                       
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container footer-container">
            <img src="/static/images/HeartBoxlogo.png" alt="Logo Agasalho Aqui" class="footer-logo">
            <div class="contact-info">
                <h3>Fale conosco</h3>
                <p><a href="mailto:agasalhoaqui@gmail.com">agasalhoaqui@gmail.com</a></p>
                <p>(11) 4002-0922</p>
            </div>
            <div class="footer-links">
                <a href="/termos">Termos e Condições</a> | 
                <a href="/privacidade">Políticas de Privacidade</a>
            </div>
            <p class="copyright">© Tem Agasalho Aqui LTDA - Todos os direitos reservados</p>
        </div>
    </footer>

    <script src="/static/js/scripts.js"></script>
</body>
</html>
